.logo{
    display:flex;
}


.logo-title{
    text-align: center;
    width: 100%;
    align-items: center;
    align-self: center;
    font-size: larger;
    font-weight: bold;
}

.item-name {
    font-size: medium;
    margin:  0px   ;
}

.recriutement-list{
    display: flex;
    flex-direction: row;
}

.rec-title{
    color: gray;
    margin-top: 5px;
    text-transform: uppercase;
}

.org-title{
    color: gray;
    margin-top: 5px;
    text-transform: uppercase;
}